<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Sistema de Gestión de indicadores</title>

    <!-- Bootstrap -->
    <link href="../Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../Content/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../Content/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="../Content/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../Content/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../Content/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../Content/css/custom.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Sistema Gestión de indicadores!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="../Content/images/logoym.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenidas,</span>
                            <h2>Yul-Moni</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Opciones <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#" onclick="cargarFrecuencia()">Administrar Frecuencia</a></li>
                                        <li><a href="#" onclick="cargarActores()">Administrar Tipo Actor</a></li>
                                        <li><a href="#" onclick="cargarFuentes()">Administrar Fuentes</a></li>
                                        <li><a href="#" onclick="cargarRepresenVisual()">Administrar Representacion Visual</a></li>
                                        <li><a href="#" onclick="cargarSentido()">Administrar Sentidos</a></li>
                                        <li><a href="#" onclick="cargarUnidadMed()">Administrar Unidad medicion</a></li>
                                        <li><a href="#" onclick="cargarUsuarios()">Administrar usuarios</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">Moni Diaz
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" >
                <div id="usuario-container"></div>
                <div id="contenido-original" style="display: none;">@RenderBody()</div>
            </div>
            <!-- /page content -->
        </div>
    </div>
    <script>
        function cargarUsuarios() {
            $.ajax({
                url: '/Usuario_View.aspx', // La URL de la vista de usuarios
                type: 'GET',
                success: function (data) {
                    $('#usuario-container').html(data); // Carga la vista en el contenedor
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        function cargarFrecuencia() {
            $.ajax({
                url: '/Frecuencia_View.aspx',
                type: 'GET',
                success: function (data) {
                    $('#usuario-container').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        function cargarActores() {
            $.ajax({
                url: '/TipoActor_View.aspx',
                type: 'GET',
                success: function (data) {
                    $('#usuario-container').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        function cargarFuentes() {
            $.ajax({
                url: '/Fuente_View.aspx',
                type: 'GET',
                success: function (data) {
                    $('#usuario-container').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function cargarRepresenVisual() {
            $.ajax({
                url: '/RepresenVisual_View.aspx',
                type: 'GET',
                success: function (data) {
                    $('#usuario-container').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function cargarSentido() {
            $.ajax({
                url: '/Sentido_View.aspx',
                type: 'GET',
                success: function (data) {
                    $('#usuario-container').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function cargarUnidadMed() {
            $.ajax({
                url: '/UnidadMedicion_View.aspx',
                type: 'GET',
                success: function (data) {
                    $('#usuario-container').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        $(document).ready(function () {
            var contenidoOriginal = $('#contenido-original').html();
            $('#usuario-container').html(contenidoOriginal);
            $('#contenido-original').remove();
        });
    </script>

    <!-- jQuery -->
    <script src="../Content/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../Content/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../Content/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../Content/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../Content/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../Content/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../Content/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../Content/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../Content/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../Content/Flot/jquery.flot.js"></script>
    <script src="../Content/Flot/jquery.flot.pie.js"></script>
    <script src="../Content/Flot/jquery.flot.time.js"></script>
    <script src="../Content/Flot/jquery.flot.stack.js"></script>
    <script src="../Content/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../Content/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../Content/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../Content/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../Content/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../Content/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../Content/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../Content/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../Content/moment/min/moment.min.js"></script>
    <script src="../Content/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../Content/js/custom.min.js"></script>

</body>
</html>

